#parent {
    margin: auto;
    width: 80%;
    min-height: 600px;
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

#header {
    text-align: right;
    position: relative;
    right: 100px;
    font-family: 'Computer Modern Serif';
    font-size: 20px;
    font-weight: normal;
    color: black;
}

#links {
	list-style-type:none;
	list-style-image:none;
    text-align: right;
    position: relative;
    right: 100px;
    font-family: 'Computer Modern Serif';
    font-size: 15px;
    font-weight: normal;
    color: black;
}

#projects {
    text-align: left;
    position: relative;
    left: 100px;
    font-family: 'Computer Modern Serif';
    font-size: 15px;
    font-weight: normal;
    color: black;
    display: inline-block;
}

.labelClass, p {
    font-family: 'Computer Modern Serif';
    color: black;
}

.labelClass, a {
    font-family: 'Computer Modern Serif';
    text-decoration: none;
    color: gray;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}