p {
    margin: 0;
}

#parent {
    margin: 0;
    width: 100%;
    position: relative;
}

#header {
    text-align: left;
    position: relative;
    font-family: 'Computer Modern Serif';
    font-size: 14px;
    font-weight: normal;
    color: black;
}

#links {
	list-style-type:none;
	list-style-image:none;
    text-align: left;
    position: relative;
    font-family: 'Computer Modern Serif';
    font-size: 14px;
    font-weight: normal;
    color: black;
}

#resume {
    text-align: left;
    position: relative;
    font-family: 'Computer Modern Serif';
    font-size: 14px;
    font-weight: normal;
    color: black;
}

#date {
    text-align: right;
    position: relative;
    font-family: 'Computer Modern Serif';
    font-size: 14px;
    font-weight: normal;
    color: black;
}

#break {
    font-size: 8px;
}

#tinybreak {
    font-size: 3px;
}

.labelClass, p {
    font-family: 'Computer Modern Serif';
    color: black;
}

.labelClass, a {
    font-family: 'Computer Modern Serif';
    text-decoration: none;
    color: black;
}