<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Players | Soccer Player Database</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="icon" href="../static/soccer.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <script src="../static/data.js"></script>
    <script src="../static/plot.js"></script>
    <div id="main">
        <div class="division">
            <div id="table-container"></div>
        </div>
        <div class="division">
            <div id="bar-dropdown-container"></div>
            <div id="bar-plot-container"></div>
            <div id="dot-dropdown-container"></div>
            <div id="dot-plot-container"></div>
            <div id="information-container"></div>
        </div>
    </div>
</body>
</html>
