<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index | Soccer Player Database</title>
{#    <script src="https://d3js.org/d3.v5.min.js"></script>#}
    <link rel="icon" href="../static/soccer.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
{#    <script src="../static/data.js"></script>#}
    <div id="main">
        <p>
            Hi! Welcome to Soccer Player Database
        </p>
    </div>
    <div>
        <p>
            <a href="http://127.0.0.1:5000/players">All Players</a>
        </p>
    </div>
    <div>
        <p>
            <a href="http://127.0.0.1:5000/attributes">All Attributes</a>
        </p>
    </div>
    <div>
        <p>
            <a href="http://127.0.0.1:5000/clubs">By Club</a>
        </p>
    </div>
    <div>
        <p>
            <a href="http://127.0.0.1:5000/countries">By Nationality</a>
        </p>
    </div>
    <div>
        <p>
            <a href="http://127.0.0.1:5000/players">Search Player (Full Name with Space)</a>
        </p>
    </div>
</body>
</html>
